

body{
    width: 100vw;
    overflow-x: hidden;
    padding: 0 ;
    margin: 0;
}
main{
    margin-top: 100vh;
}

header{
    
  
   
    position: absolute;
    top: -150vh;
 
    left: -170vw;
    width: 440vw;
    height: 400vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    
    grid-template-areas: 
    "a b c d e"
    "a b c d e"
    "a b div d e"
    ". g div i j"
    "f g h i j"
    "f g h i j"
    ;
    overflow: hidden;
    background-color: #212121;
}
video:first-child{
    width: 60vw;
    grid-area: a;
}
img:nth-child(2){
    width: 60vw;
    grid-area: b;
    
}
video:nth-child(3){
    width: 100%;
    grid-area: c;
    align-self: center;
    justify-self: end;
}
img:nth-child(4){
    width: 84vw;
    grid-area: d;
    align-self: end;
    padding-bottom: 10%;
    justify-self: end;
    margin-right: -10%;
}
img:nth-child(5){
    width: 60vw;
    grid-area: e;
    justify-self: end;
    
}
header div{
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    grid-area: div;
    justify-self: center;
   align-self: center;
color: white;
    background-color: #121212 ;
display: flex;
flex-direction: column;
justify-content: center;
padding-inline: 25%;

}
header h2:first-child{
    margin-left: -10%;
}
header div h2{
      font-family: "Architects Daughter", cursive;
      text-transform: uppercase;
      font-size: 4vw;
      opacity: 50%;
      text-decoration: underline;
      margin: 0;
      line-height: 4vw;

}
header div h1{
    font-family: "monterrat", sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 6vw;
    text-align: center;
    margin: 0;
}
img:nth-child(7){
    width: 40vw;
    grid-area: f;
    justify-self: center;
}
video:nth-child(8){
    width: 52vw;
    grid-area: g;
}
img:nth-child(9){
    width: 100%;
    grid-area: h;
    margin-left: -10%;
}
video:nth-child(10){
    width: 48vw;
    grid-area: i;
    justify-self: center;
    align-self: center;
}
video:nth-child(11){
    width: 60vw;
    grid-area: j;
}
main{
    box-sizing: border-box;
    color: #ffff;
    width: 100vw;
    padding-inline: 6rem;

}
body{
    width: 100vw;
    box-sizing: border-box;
    background-color: #212121;
    
}
h1,h2,h3,h4{
    font-family: "montserrat",sans-serif;
    text-decoration: underline;
   
}
p, ul, td{
    font-family: "hind", sans-serif;
}
h1{
    font-size: 5rem;
    font-weight: 400;

}
main article{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.tracker{
    position: absolute;
  left: 3rem;
  width: auto;
  font-size: 1rem;
}
section:first-of-type article:first-of-type img{
    width: 40vw;
}
main article p , main article div{
    text-align: left;
    font-size:  1.3rem;
    width: 40vw;
}

main article:nth-of-type(2) {
    flex-wrap: wrap;
}
main article:nth-of-type(2) img{
    width: 40vw;
    align-self: center;
    
}


main article:nth-of-type(3){
    display: grid;
    background-color: #fff;
    color: #000;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 1.5rem;
    gap: 1.5rem;
    overflow-x: scroll;
}

table, th, td{
    padding: 0.5rem;
    border-collapse: collapse;
    font-size: 0.7rem;
   
}
th{
    background-color: #000;
    color: #fff;
    font-family: "montserrat",sans-serif;
}
tr:nth-of-type(2n){
    background-color: #eee;
}
table:nth-of-type(4){
    grid-column: 1 / 4;
}

article:nth-of-type(4) img{
    width: 40vw;

}
section:nth-of-type(2) img{
    width: 30vw;
  
}

.kontakt{
   
margin-top: 3rem;

display: block;
margin-inline: auto;

}
footer{
    margin-top: 3rem;
}
.left{
    left: 1.5rem;
}
h2{
    font-size: 4rem;
}
@media screen and (max-width: 1000px){

    main article{
        flex-direction: column;
    }
    main article p, main article div {
        width: 100% ;
        text-align: justify ;
    }
    main img{
        width: 70vw !important;
    }
    
    

}
@media screen and (max-width: 600px){


    .tracker{
        display: none;
        
    }
    main{
        padding-inline: 1rem;
    }
    main img{
        width: 90vw !important;
    }
    header video{
        display: none;
    }
    h1{
        font-size: 3rem;
    }
    header{
        grid-template-areas: 
        ". . . . ."
        ". . . . ."
        ". b div d ."
        ". f div . ."
        ". f h e ."
        ". . . . ."
        ;
    }

}